body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.autrepages{
    background-color: #C8AD7F;
    display : flex;
    list-style : none;
    justify-content : space-around;
    align-items : center;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.img {
    float : right;
}
header h1 {
    font-size: 24px;
}
.Photo{
    float : right;
    clip-path:ellipse(43% 33%);
}
header img {
    max-width: 100%;
    height: auto;
}
main {
    margin: 20px;
}
section {
    margin-bottom: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

h2 {
    font-size: 18px;
}
.aside ul {
    list-style: none;
    padding: 0;
}

.aside li {
    margin: 5px 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
.figure {
    margin: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}
.resaux-sociaux{
    list-style : none;
    align-items : center;
}
